@import "@picocss/pico/css/pico.min.css";

:root {
  --spacing: 0.5rem;

  cursor: auto;
}

details[role="list"] summary + ul {
  cursor: pointer;
}

h1 {
  --typography-spacing-vertical: 1rem;
}

div[class="editor-container"] {
  display: flex;
  height: 60vh;
  border: 1px solid var(--form-element-border-color);
}

iframe[class="editor-frame"] {
  flex: 1;
}

details[role="list"] ul[role="listbox"] {
  max-height: 50vh;
  overflow: auto;
}
