
/* Titelzeile */
header {
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    text-align: left;
    margin-bottom: 10px;
}

nav {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    margin: 10px 0;
}
nav ul li a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}


main {
    margin-left: 220px;
    margin-top: 80px;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}

.card {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color: #ccc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-header span {
    font-weight: bold;
}

.card-header button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.card-content {
    display: none;
    padding: 15px;
}

.doc{
    margin-top: 15px;
    margin-left: 15px;
}

.keyword {
    color: #ff79c6;
    font-weight: bold;
}

.comment {
    color: #000000;
    font-style: italic;
}

.type {
    color: #3f3dc2;
    font-style: italic;
}

