body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

pre {
    background-color: #111;
    color: #f8f8f2;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    overflow-x: auto;
    font-size: 1.1em;
    line-height: 1.6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

code {
    font-family: 'Courier New', Courier, monospace;
}

.keyword {
    color: #ff79c6;
    font-weight: bold;
}

.type{
    color: #8be9fd;
}

.dtor {
    color: #ff5555;
}

.ctor {
    color: #ff79c6;
}

.string {
    color: #f1fa8c;
}

.comment {
    color: #6272a4;
    font-style: italic;
}
