---
name: Lint Code Base

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

permissions: read-all

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter@v6.3.0
        env:
          # JSCPD is disabled because it falsely flags duplicated Rust generic parameter definitions
          VALIDATE_JSCPD: false
          # We use eslint instead of the linter named "standard"
          VALIDATE_JAVASCRIPT_STANDARD: false
          # We use prettier rather than ts-standard
          TYPESCRIPT_DEFAULT_STYLE: prettier
          # We use a slightly different stylelint version/setup
          VALIDATE_CSS: false
          # Rust is linted separately
          VALIDATE_RUST_2021: false
          VALIDATE_RUST_2018: false
          VALIDATE_RUST_2015: false
          VALIDATE_RUST_CLIPPY: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
