on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

permissions:
  contents: read
  statuses: write

jobs:
  check_nix:
    name: Check nix code
    strategy: 
      matrix: 
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - name: Set up cachix
        uses: cachix/cachix-action@v15
        with:
          name: polarity
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Evaluate nix code
        run: nix -Lv flake check
      - name: build and run polarity using nix
        run: nix -Lv run .# -- --help
      - name: build and run a static polarity exe
        if: matrix.os == 'ubuntu-latest'
        run: nix -Lv run .#polarity-static -- --help
